langchain-community
pypdf
langchain
langchain-huggingface
python-dotenv
langchain-groq
langchain-graph-retriever
rank_bm25
cryptography>=3.1
nltk
rouge-score
psycopg2-binary 
pgvector 
sqlalchemy
fastapi
uvicorn
psycopg2
matplotlib
sentence-transformers
